* {
    padding: 0;
    margin: 0;
}

#body {
    display: flex;
    flex-direction: row;
    height: 92vh;
    width: 98vw;
}

#image {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 55%;
    background-color: var(--green_blue);
    overflow: hidden;
}

#image img {
    width: 65%;
}

#register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
}

#register h1 {
    font-weight: 400;
    font-size: 40px;
}

#register h1 span {
    color: var(--light_green_blue);
}

#register form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 300px;
    justify-content: space-around;
}

#register form div {
    flex-direction: column;
    display: flex;
    width: 50%;
}

#forgot-password {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--light_green_blue);
}

#forgot-password:hover {
    cursor: pointer;
}

.input {
    box-sizing: border-box;
    background-color: transparent;
    border: solid lightgray 1px;
    box-shadow: 0.1px 2px 3px grey;
    border-radius: 6px;
    width: 100%;
    height: 42px;
    color: black;
    font-weight: 500;
    padding-left: 20px;
    font-size: medium;
}

.input[type="password"] {
    letter-spacing: 2px;
}

.input[type="password"]::placeholder {
    letter-spacing: 0.5px;
}

.input:focus::placeholder {
    color: transparent;
}

.input:focus {
    outline: none;
}

.input:nth-child(1) {
    padding: 0;
    font-family: sans-serif;
    color: white;
    box-shadow: none;
    border: none;
    background-color: var(--light_green_blue);
}

.input:nth-child(1):hover {
    cursor: pointer;
}

/* ============================= */
/*       RESPONSIVIDADE 💡       */
/* ============================= */

@media (max-width: 1024px) {
    #body {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    #image {
        width: 100%;
        height: auto;
        align-items: center;
        padding: 20px 0;
    }

    #image img {
        width: 60%;
        max-width: 350px;
    }

    #register {
        width: 100%;
        max-width: 550px;
        padding: 20px;
    }

    #register form div {
        width: 80%;
    }

    #register h1 {
        font-size: 32px;
    }
}

@media (max-width: 600px) {
    #register h1 {
        font-size: 28px;
        text-align: center;
    }

    #register form div {
        width: 90%;
    }

    #image img {
        width: 75%;
    }
}
