nav{
    display: flex;
    background-color: var(--medium_blue);
    height: 8vh;
    align-items: center;
    justify-content: space-between;
    .division{
        display: flex;
         align-items: center;
         justify-content: center;
        width: 10%;
        height: 100%;
    }
    #first-section{
        #logo{
        width: 8vw;
        }
    }
    #second-section{
        display: flex;
        justify-content: space-evenly;
        width: 15%;
        color: white;
        #icone_perfil{
            width: 2vw;
        }
    }   
}