aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 5%;
    height: 92vh;
    background-color: var(--dark_blue);
    transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
    #icons{
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        height: 50%;    
        Link{
            margin: 0;
        }
        .icons-div{
            .icon{
                width: 1.75vw;
                margin-left: 25px;
            }
            overflow: hidden;
            display: flex;
        }
        .icons-div:hover{
            background-color: var(--green_blue);
            .text{
                margin-left: 35px;
            }
        }
    }
    div{
        display: flex;
        overflow: hidden;
        margin-bottom: 20px ;
        #bt-logout{
            margin-left: 25px ;
            width: 1.75vw;
        }
        text-decoration: none;
    }
    .text{
        text-decoration: none;
        color: white;
        margin-left: 25px;
        transition: ease-in-out 0.2s;
    }
    
    
}
aside:hover{
    width: 16%;
}
