:root{
  --dark_blue: #012E40;
  --medium_blue: #024959;
  --green_blue: #026773;
  --light_green_blue: #3CA6A6;
  --beije: #F2E3D5;
  --light_beije: #FFFAF5;
  --gray: #908C8A;
  --black: #1A1A1A;  
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
